<h1>Add a new stage</h1>

<form action="/stages" method="post">
    <label for="stage_name">
        Stage Name
        <input name="name" class="form-control" type="text">
    </label>
    <button type="submit" class="btn">Go!</button>
</form>
